.container {
    height: 100vh;
    position: relative;
}

.row {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 60vh;
}

.main-img-wrapper, .main-img-wrapper > div {
    height: 100%;
}

.main-img-wrapper img {
    height: 100%;
    width: 100%;
}

.related-img-wrapper {
    height: 100%;
    position: relative;
}

.carousel-element {
    height: calc(100% / 5);
}

.related-img-wrapper img {
    height: 100%;
    width: 100%;
}

.active {
    display: block;
}

#up-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    cursor: pointer;
}

#down-button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
}


